{% extends 'application/base.html' %}

{% block content %}

{% if page == "create" %}

<h1>Utwórz nową kategorie</h1>

<form method="POST">
    {% csrf_token %}
    
    <label>Nazwa</label>
    <input type="text" name="name" value="{{ category.name }}" maxlength="255" required id="id_name">
    
    <label>Rodzaj</label>
    <select name="scope" required id="id_scope">

        <option value="INCOME">Przychód</option>
        <option value="EXPENSE">Wydatek</option>

    </select>
    
    
    <button type="submit">Stwórz</button>
</form>

{% else %}
<h1>Edytuj kategorie</h1>

<form method="POST">
    {% csrf_token %}    
    
    <label>Nazwa</label>
    <input type="text" name="name" value="{{ category.name }}" maxlength="255" required id="id_name">
    
    
    {% if category.scope == 'INCOME' %}
    <label>Rodzaj</label>
    <select name="scope" required id="id_scope">

        <option value="INCOME" selected>przychód</option>
        <option value="EXPENSE">wydatek</option>

    </select>
    {% else %}
    <label>Rodzaj</label>
    <select name="scope" required id="id_scope">
        
        <option value="INCOME">przychód</option>
        <option value="EXPENSE" selected>wydatek</option>

    </select>
    {% endif %}
    
    <button type="submit">Zapisz zmiany</button>
</form>
{% endif %}

{% endblock %}