{% extends 'application/base.html' %}

{% block content %}

{% if page == "create" %}

<h1>Utwórz nową kategorie</h1>

<form method="POST">
    <input type="hidden" name="csrfmiddlewaretoken" value="SfqabNILF8SmhDysCCSF1YNEJu7SRyPxDBaJqBAuBJliY7zwfZr09KOLaJqbyvGf">
    
    
    <label>Nazwa</label>
    <input type="text" name="name" maxlength="255" required id="id_name">
    
    <label>Rodzaj</label>
    <select type="text" name="scope">
        <option value="income">Przychód</option>
        <option value="expense">Wydatek</option>
    </select>
    
    
    <button type="submit">Create</button>
</form>

{% else %}
<h1>Edytuj kategorie</h1>

<form method="POST">
    <input type="hidden" name="csrfmiddlewaretoken" value="eFjE125KBEL91EohDRASj5ASiHF2TPRHZ13dgQXtxfe5I8plge9drRBZJWYlAMIp">
    
    
    <label>Nazwa</label>
    <input type="text" name="name" value={{ category.name }} maxlength="255" required id="id_name">
    
    
    {% if category.scope == 'INCOME' %}
    <label>Rodzaj</label>
    <select name="scope" required id="id_scope">

        <option value="INCOME" selected>przychód</option>
        <option value="EXPENSE">wydatek</option>

    </select>
    {% else %}
    <label>Rodzaj</label>
    <select name="scope" required id="id_scope">
        
        <option value="">---------</option>
        <option value="INCOME">przychód</option>
        <option value="EXPENSE" selected>wydatek</option>

    </select>
    {% endif %}
    
    <button type="submit">Edit</button>
</form>
{% endif %}

{% endblock %}