{% extends 'application/base.html' %}

{% block title %}
Edytuj profil
{% endblock %}

{% block content %}
<div class="title">
    <h1>Edytuj swój profil</h1>
</div>

<div class="content-pc site-with-form-content">
    <form method="POST">
        {% csrf_token %}
        <table>
        {% for field in form %}
        <tr>
            <td><label>{{field.label}}</label></td>
            <td><span class="field">{{field}}</span></td>
        </tr>
        {% endfor %}
        </table>
        <p class="buttons-close">
            <button class="button" type="submit">Zapisz</button>
            <button type="button" class="button"><a class="inbutton" href="{% url 'profile' %}">Anuluj</a></button>
        </p> 
</form>
</div>
{% endblock %}