{% extends 'application/base.html' %}

{% block title %}
Edytuj profil
{% endblock %}

{% block content %}
<div class="title">
    <h1>Edytuj swój profil</h1>
</div>

<div class="content">
    <form method="POST">
        {% csrf_token %}
        <table>
        {% for field in form %}
            <label>{{field.label}}</label>
            {{field}}
        {% endfor %}
        </table>
    <div class="center">
        <button type="button" class="button">Edytuj</button>
    </div>    
</form>
</div>
{% endblock %}