{% extends 'application/base.html' %}

{% block title %}Strona domowa{% endblock %}

{% block content %}

{% comment %} Strona Domowa użytkownika {% endcomment %}
    <div class="title">
        <h1>Saldo</h1>
        <h1>{{ profile_balance }} PLN</h1>
    </div>
    <div class="content tiles">
        
        {% for acc in accounts %}
            <div class="account">
                <span class="name"><a href="#">{{ acc }}</a></span>
                <span class="balance">{{ acc.calculate_balance }} zł</span>
                {% for tr in acc.transactions %}
                    <div class="transaction">
                        <span class="date">{{ tr.date }}</span>
                        <span class="name">{{ tr.name }}</span>
                        <span class="amount">{{ tr.amount }} zł</span>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

    </div>
    
{% endblock  %}