{% extends 'application/base.html' %}

{% load thumbnail %}

{% block title %}Strona domowa{% endblock %}
{% block content %}
    <div class="title">
        <h1>Witaj {{ user.username }}</h1>
    </div>
    <div class="content-pc">
        <a class="button" href="{% url 'edit-profile' %}">Edytuj profil</a>
        <a class="button" href="{% url 'change-password' %}">Zmień hasło</a>

        
        
        <h5>Aktualne dane profilu</h5>

        <strong><p>Imię:</strong> {{profile.name}}</p>

        <strong><p>Nazwa użytkownika:</strong> {{profile.username}}</p>

        <strong><p>Adres email:</strong> {{profile.email}}</p>

        <strong><p>Waluta:</strong> {{profile.currency}}</p>

        <strong><p>Członek od:</strong> {{profile.created}}</p>            
        
        <span> 
            <h5>Zaproszenia:</h5>
            {% comment %} if nie ma powiedz że nie ma {% endcomment %}
        {% for m in mes %}
            {% if profile == m.userTo %}
                <p class="invitation">
                    Użytkownik <span class="bold space-margin">{{ m.userFrom }}</span> zaprasza cię do dołączenia do konta <span class="bold space-margin">{{ m.id_account }}</span>
                    <a class="accept" href="{% url 'joinAccount' m.id %}" title="Kliknij by dołączyć"></a>
                    <a class="delete" href="{% url 'deleteInvitation' m.id %}" onclick=
                    "return confirm('Czy napewno chcesz usunąć?')" title="Odrzuć Zaproszenie"></a>
                </p>
            {% elif profile == m.userFrom %}
                <p class="invitation">
                    Wysłano zaproszenie do użytkownika<span class="bold space-margin">{{ m.userTo }}</span>do dołączenia do konta <span class="bold space-margin">{{ m.id_account }}</span>
                    <a class="delete" href="{% url 'deleteInvitation' m.id %}" onclick=
                    "return confirm('Czy napewno chcesz usunąć?')" title="Usuń Zaproszenie"></a>
                </p>
            {% endif %}
        {% endfor %}
        </span>
    </div>
{% endblock  %} 