{% extends 'application/base.html' %}

{% block title %}Lista użytkowników{% endblock %}

{% block content %}

<div class="title">
    <h1>Lista użytkowników</h1>
</div>

<form method="GET" action="{% url 'profiles' %}">
    <label for="search-bar">Wyszukaj użytkowników </label>
    <input id="search-bar" type="text" name="search_query" value="{{search_query}}" placeholder="Wyszukaj po nazwie użytkownika" />
    <input type="submit" value="Search" />
</form>


<br />

{% for profile in profiles %}
    {{profile.username}}
    <br />
{% endfor%}

{% endblock %}