{% extends 'application/base.html' %}

{% block title %}Strona domowa{% endblock %}
{% block content %}
    <div class="title">
        <h1>Podsumowania</h1>
    </div>
    <div class="content-pc">
        Wydatki:
        <ul type="none">
            {% for category, sum, perc in object_list %}
                {% if category.scope == 'EXPENSE' %}
                <li>{{ category }}: {{ sum }} {{ request.user.profile.currency.sign }}&emsp;&emsp;{{ perc }}%</li>
                {% endif %}
            {% endfor %}
        </ul>
        Przychody:
        <ul type="none">
            {% for category, sum, perc in object_list %}
                {% if category.scope == 'INCOME' %}
                <li>{{ category }}: {{ sum }} {{ request.user.profile.currency.sign }}&emsp;&emsp;{{ perc }}%</li>
                {% endif %}
            {% endfor %}
        </ul>

        <a class="button" href="{% url 'all-categories' %}">Zarządzanie kategoriami</a>
    </div>
{% endblock  %} 