{% extends 'application/base.html' %}

{% block title %}Strona domowa{% endblock %}
{% block content %}
    <div class="title">
        <h1>Podsumowania</h1>
    </div>
    <div class="content-pc">
        {% comment %} Wydatki:
        <ul type="none">
            {% for category, sum, perc in object_list %}
                {% if category.scope == 'EXPENSE' and sum > 0 %}
                <li>{{ category }}: {{ sum }} {{ request.user.profile.currency.sign }}&emsp;&emsp;{{ perc }}%</li>
                {% endif %}
            {% endfor %}
        </ul>
        Przychody:
        <ul type="none">
            {% for category, sum, perc in object_list %}
                {% if category.scope == 'INCOME' %}
                <li>{{ category }}: {{ sum }} {{ request.user.profile.currency.sign }}&emsp;&emsp;{{ perc }}%</li>
                {% endif %}
            {% endfor %}
        </ul> {% endcomment %}

        {% comment %} TMP {% endcomment %}
        <table id="summary-span">
            <th>Wydatki:</th>
            {% for category, sum, perc in object_list %}
                {% if category.scope == 'EXPENSE' and sum != 0 %}
                <tr>
                    <td id="sum-category">{{ category }}:</td>
                    <td id="sum-amount">{{ sum }} {{ request.user.profile.currency.sign }}</td>
                    <td id="sum-percentage">{{ perc }}%</td>
                </tr>
                {% endif %}
            {% endfor %}
            <th>Przychody:</th>
            {% for category, sum, perc in object_list %}
                {% if category.scope == 'INCOME' and sum != 0 %}
                <tr>
                    <td id="sum-category">{{ category }}:</td>
                    <td id="sum-amount">{{ sum }} {{ request.user.profile.currency.sign }}</td>
                    <td id="sum-percentage">{{ perc }}%</td>
                </tr>
                {% endif %}
            {% endfor %}
        </table>

        {% comment %} TMP {% endcomment %}
        <br>
        <a class="button" href="{% url 'all-categories' %}">Zarządzanie kategoriami</a>
    </div>
{% endblock  %} 