{% extends 'application/base.html' %}

{% block title %}Strona domowa{% endblock %}
{% block content %}
    <div class="title">
        <h1>{{ sum }} {{ request.user.profile.currency.sign }}</h1>
    </div>

    <div class="content-pc">
        {% comment %} Wydatki:
        <ul type="none">
            {% for category, sum, perc in object_list %}
                {% if category.scope == 'EXPENSE' and sum > 0 %}
                <li>{{ category }}: {{ sum }} {{ request.user.profile.currency.sign }}&emsp;&emsp;{{ perc }}%</li>
                {% endif %}
            {% endfor %}
        </ul>
        Przychody:
        <ul type="none">
            {% for category, sum, perc in object_list %}
                {% if category.scope == 'INCOME' %}
                <li>{{ category }}: {{ sum }} {{ request.user.profile.currency.sign }}&emsp;&emsp;{{ perc }}%</li>
                {% endif %}
            {% endfor %}
        </ul> {% endcomment %}

        {% comment %} TMP {% endcomment %}
        {% comment %} <a class="button" style="margin-left:65px;" href="{% url 'all-categories' %}">Zarządzanie kategoriami</a><br><br> {% endcomment %}
        <table id="summary-span" class="sum" style="font-family: Arial, Helvetica, sans-serif;">
            <tr style="font-size:20pt;font-weight:bold;margin-bottom:16px;"><td>Wydatki:</td> <td>{{ sum_exp }} {{ request.user.profile.currency.sign }}</td></tr>
            {% for category, sum, perc in object_list %}
                {% if category.scope == 'EXPENSE' and sum != 0 %}
                <tr style="font-size:13pt;">
                    <td id="sum-category">{{ category }}:</td>
                    <td id="sum-amount">{{ sum }} {{ request.user.profile.currency.sign }}</td>
                </tr>
                <tr>
                <td>
                    <div class="progress" style="height:20px; width:100%; ">
                        <div class="progress-bar" role="progressbar" style="background-color: rgb(22, 110, 224); width: {{ perc }}%;" aria-valuenow="{{ perc }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </td>
                </tr>
                <tr>
                    <td>{{ perc }}%</td>
                </tr>
                {% endif %}
            {% endfor %}
            <tr style="font-size:20pt;font-weight:bold;margin-bottom:16px;margin-top:30px;"><td>Przychody:</td> <td>{{ sum_inc }} {{ request.user.profile.currency.sign }}</td></tr>
            {% for category, sum, perc in object_list %}
                {% if category.scope == 'INCOME' and sum != 0 %}
                <tr style="font-size:13pt;">
                    <td id="sum-category">{{ category }}:</td>
                    <td id="sum-amount">{{ sum }} {{ request.user.profile.currency.sign }}</td>
                </tr>
                <tr>
                <td>
                    <div class="progress" style="height:20px; width:100%">
                        <div class="progress-bar" role="progressbar" style="background-color: rgb(25, 179, 35); width: {{ perc }}%;" aria-valuenow="{{ perc }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </td>
                </tr>
                <tr>
                    <td>{{ perc }}%</td>
                </tr>
                {% endif %}
            {% endfor %}
        </table>

        {% comment %} TMP {% endcomment %}
        <br>
    </div>
{% endblock  %} 