{% extends 'application/base.html' %}
{% block content %}

{% if page == "register" %}

{% comment %} Strona Rejestracji {% endcomment %}

<div class="title">
  <h1>Rejestracja</h1>
</div>

<div class="content site-with-form-content">
  <form action="/register" method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <table>
      <tr>
        <td>
          <label>Nazwa użytkownika</label>
        </td> 
        <td>
          <span class="field"><input type="text" name="username" maxlength="150" autofocus required id="id_username"></span>
        </td>
        {{ form.username.errors }}
      </tr>
      
      <tr>
        <td>
          <label>Imię</label>
        </td> 
        <td>
          <span class="field"><input type="text" name="first_name" maxlength="150" id="id_first_name"></span>
        </td>
        {{ form.first_name.errors }}
      </tr>
      
      <tr>
        <td>
          <label>Email</label>
        </td> 
        <td>
          <span class="field"><input type="email" name="email" maxlength="254" id="id_email"></span>
        </td>
        {{ form.email.errors }}
      </tr>
      
      <tr>
        <td>
          <label>Hasło</label>
        </td> 
        <td>
          <span class="field"><input type="password" name="password1" autocomplete="new-password" required id="id_password1"></span>
        </td>
        {{ form.password1.errors }}
      </tr>
      
      <tr>
        <td>
          <label>Potwierdź hasło</label>
        </td> 
        <td>
          <span class="field"><input type="password" name="password2" autocomplete="new-password" required id="id_password2"></span>
        </td>
        {{ form.password2.errors }}
      </tr>
    </table> 
    <button class="form-button" type="submit">Zarejestruj</button> 
</form>

  <div class="mam-niemam">
    <span>Masz już konto?</span>
    <span><a href="{% url 'login' %}">Zaloguj się</a></span>
  </div>
</div>

{% else %}

{% comment %} Strona Logowania {% endcomment %}

<div class="title">
  <h1>Logowanie</h1>
</div>
<div class="content site-with-form-content">
  <form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    <table>
      <tr>
        <td>
          <label>Nazwa użytkownika</label>
        </td> 
        <td>
          <span class="field">
            <input
            type="text"
            name="username"
            placeholder="Podaj nazwę użytkownika..."
            />
          </span>        
        </td>
      </tr>
      <tr>
        <td>
          <label>Hasło</label>
        </td>
        <td>
          <span class="field">
            <input
              type="password"
              name="password"
              placeholder="••••••••"
            />
          </span>
        </td>
      </tr>
    </table>      
      <button class="form-button" type="submit">Zaloguj</button> 
  </form>

  <div class="mam-niemam">
    <span>Nie masz konta?</span>
    <span><a href="{% url 'register' %}">Zarejestruj się</a></span>
  </div>
</div>
{% endif %}
{% endblock %}

{% comment %}
  formularz ogólny
  <form action="{% url 'register' %}" method="POST">
      {% csrf_token %}
      
      <table>
        {% for field in form %}
        <tr>
          <td>
            <label>{{field.label}}</label>
          </td> 
          <td>
            <span class="field">{{field}}</span>
          </td>
        </tr>
        {% endfor %}
      </table> 
      <button class="form-button" type="submit">Zarejestruj</button> 
  </form>
{% endcomment %}