{% extends 'application/base.html' %}
{% block content %}

{% if page == "register" %}

{% comment %} Strona Rejestracji {% endcomment %}

<div class="title">
  <h3>Rejestracja</h3>
</div>

<div class="container site-with-form-content">
  <form action="{% url 'register' %}" method="POST">
      {% csrf_token %}
      
      <table>
        {% for field in form %}
        <tr>
          <td>
            <label>{{field.label}}</label>
          </td> 
          <td>
            <span class="field">{{field}}</span>
          </td>
        </tr>
        {% endfor %}
      </table> 
      <button class="form-button" type="submit">Zarejestruj</button> 
  </form>

  <div class="mam-niemam">
    <span>Masz już konto?</span>
    <span><a href="{% url 'login' %}">Zaloguj się</a></span>
  </div>
</div>

{% else %}

{% comment %} Strona Logowania {% endcomment %}

<div class="title">
  <h3>Logowanie</h3>
</div>


<div class="container site-with-form-content">
  <form action="{% url 'login' %}" method="POST">
      {% csrf_token %}
      
      <table>
        {% for field in form %}
        <tr>
          <td>
            <label>{{field.label}}</label>
          </td> 
          <td>
            <span class="field">{{field}}</span>
          </td>
        </tr>
        {% endfor %}
      </table> 
      <button class="form-button" type="submit">Zaloguj</button> 
  </form>

  <div class="mam-niemam">
    <span>Nie masz konta?</span>
    <span><a href="{% url 'register' %}">Zarejestruj się</a></span>
  </div>
</div>
{% endif %}
{% endblock %}