{% extends 'application/base.html' %}
{% block content %}

{% if page == "register" %}

<div class="title">
  <h3>Register an Account</h3>
</div>

<div class="container">
  <form action="{% url 'register' %}" method="POST">
      {% csrf_token %}
      
      {% for field in form %}
      
      <label>{{field.label}}</label>
      {{field}}

      {% endfor%}
      <button type="submit">Register</button>
  </form>

  <p>Already have an Account?</p>
  <a href="{% url 'login' %}">Log In</a>
</div>

{% else %}

<div class="title">
  <h3>User Login</h3>
</div>

<div class="container">
  <form method="POST">
      {% csrf_token %}

      {% for field in form %}
      
      <label>{{field.label}}</label>
      {{field}}

      {% endfor%}
      <button type="submit">Login</button>
      {% comment %} <div class="row g-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="First name" aria-label="First name">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
          </div>
        </div> {% endcomment %}
  </form>
  <p>No Account?</p>
  <a href="{% url 'register' %}">Register here</a>
</div>
{% endif %}
{% endblock %}