{% extends 'application/base.html' %}
{% block title %}Zmiana hasła{% endblock %}

{% block content %}

<div class="title">
    <h1>Zmiana hasła</h1>
</div>

<div class="content-pc site-with-form-content">
    <form method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <table>
            <tr>
                <td>
                    <label class="bold">Hasło</label>
                </td> 
                <td>
                    <span class="field"><input type="password" name="new_password1" autocomplete="new-password" required id="id_password1"></span>
                </td>
                    {{ form.password1.errors }}
            </tr>
  
            <tr>
                <td>
                    <label class="bold">Potwierdź hasło</label>
                </td> 
                <td>
                    <span class="field"><input type="password" name="new_password2" autocomplete="new-password" required id="id_password2"></span>
                </td>
                {{ form.password2.errors }}
            </tr>
        </table>
        <p class="buttons-close">
            <button class="button" type="submit">Zmień hasło</button>
            <button type="button" class="button"><a class="inbutton" href="{% url 'profile' %}">Anuluj</a></button>
        </p> 
</form>
</div>


{% endblock %}