{% extends 'application/base.html' %}
{% block title %}Zresetuj hasło{% endblock %}

{% block content %}

<div class="title">
    <h1>Zresetuj hasło</h1>
</div>

<div class="content site-with-form-content">
    <form method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{form}}
        <button class="button" type="submit">Potwierdź</button> 

</form>

<div class="mam-niemam">
    <span><a class="purple" href="{% url 'profile' %}">Wróć do strony profilowej</a></span>
  </div>
</div>
{% endblock %}