{% extends 'application/base.html' %}

{% block title %}Strona domowa{% endblock %}

{% block content %}
{% load static %}

{% comment %} Strona startowa aplikacji {% endcomment %}
    <div class="title">
            <h1>Kontroluj swoje wydatki wraz z Cointrol!</h1>
    </div>
    <div class="content-pc center">
        <div id="overview">
            <span class="element">
                <h4>Konta</h4>
                <!-- <p>
                    Dzięki możliwości stworzenia wielu wirtualnych kont, 
                    łatwiej będzie ci kontrolować gdzie i ile masz pieniędzy.
                </p> -->
                <p>
                    Kontroluj ile masz pieniędzy, korzystając z tworzenia kont bankowych!
                    <!-- Stwórz odpowiedniki swoich kont bankowych,  -->
                    Stwórz wirtualne konto odpowiadające twojemu fizycznemu portfelowi 
                    lub stwórz konto na którym będziesz śledził ilość swoich oszczędności.
                    Korzystaj jak chcesz!
                </p>
                <img src="{% static 'images/home/accounts.png' %}" />
            </span>
            <span class="element">
                <h4>Waluty</h4>
                <p>Twórz konta w różnych walutach i dodawaj transakcje w innych walutach.</p>
                <p>
                    Transakcje zostaną automatyznie przeliczone na walutę twojego konta według kursu z dnia transakcji.
                </p>
                <img src="{% static 'images/home/currency.png' %}" />
            </span>
            <span class="element">
                <h4>Konta współdzielone</h4>
                <p>
                    Zapraszaj znajomych do współdzielenia stworzonych przez siebie kont. 
                    Dzięki podziałowi na role, możesz ograniczyć wybranym użytkownikom dostęp do wybranych funkcji.
                </p>
                <img src="{% static 'images/home/share.png' %}" />
            </span>
            <span class="element">
                <h4>Kategorie</h4>
                <p>Dodawaj własne kategorie, aby w pełni dostosować aplikację do swojego użytku!</p>
                <img src="{% static 'images/home/folders.png' %}" />
                
            </span>
            <span class="element">
                <h4>Podsumowania</h4>
                <p>Sprawdź swoje wydatki i przychody z danego okresu i znajdź miejsce na nowe oszczędności!</p>
                <img src="{% static 'images/home/sum-up.png' %}" />
            </span>
            {% comment %} <span class="element">
                <h4>Budżet</h4>
                <p>Zaplanuj swój budżet, ustal ile chcesz wydać w danych kategoriach i kontroluj wydatki na bierząco.</p>
            </span> {% endcomment %}
            
        </div>
    </div>
    
{% endblock  %}