{% extends 'application/base.html' %}

{% block title %}Strona domowa{% endblock %}

{% block content %}

{% comment %} Strona Domowa użytkownika {% endcomment %}
    <div class="title">
        <h1>Saldo</h1>
        <h1>{{ profile_balance }} PLN</h1>
    </div>
    <div class="content">
        
        <table>
            <tr>
                <th>Data</th>
                <th>Nazwa</th>
                <th>Opis</th>
                <th>Kwota</th>
            </tr>
            {% for tr in transactions %}
            {% if tr.converted_amount > 0 %}
            <tr class="transaction income">
            {% else %}
            <tr class="transaction expense">
            {% endif %}
                <td>{{ tr.transaction_date }}</td>
                <td>{{ tr.name }}</td>
                <td>{{ tr.description }}</td>
                <td>{{ tr.converted_amount }}</td>
            </tr>
            {% endfor %}
        </table>

    </div>
    
{% endblock  %}