/* BODY */
body{
    background-color: white;
    color: black;
}
/* NAV */
a.nav-link{
    color: white;
    font-size: 20px;
}
a.nav-link:hover{
    color: white;
    background-color: rgb(176, 0, 176);
}
ul.nav{
    align-items: center;
}
nav.nav{
    height: 60px;
    background-color: purple;
    justify-content: space-between;
    padding-left: 4vw;
    padding-right: 4vw;
}
#logo-link{
    padding: 0;
}
#app-logo{
    width: 250px;
}

/* CONTENT */
#site-content{
    min-height: calc(100vh - 60px - 8vh - 30px); 
    /* 100vh - nav height - margins - footer height */
    margin-top: 4vh;
    margin-bottom: 4vh;
    margin-left: 4vw;
    margin-right: 4vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border: 3px solid purple;
    border-radius: 10px;
    background-color: whitesmoke;
    position: relative;
}
#dark-mode-button{
    position: absolute;
    top: 20px;
}
#dark-mode-button > img{
    width: 30px;
}
div.title{
    padding-top: 5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
div.title h1{
    color: purple;
    font-size: 40px;
    font-weight: bold;
}
div.content{
    margin-top: 15px;
}
div.tiles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
    /* ACCOUNT LIST */
div.account{
    margin-top: 1vh;
    margin-bottom: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
    padding: 5px;
    border: 2px solid purple;
    border-radius: 5px;
    background-color: lightgoldenrodyellow;
    width: 300px;
}
div.account:nth-child(even){
    background-color: lightsalmon;
}
a.account-link{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
}
a.account-link > span.name{
    font-weight: bold;
    font-size: 15px;
    color: purple;
}
a.account-link > span.account-description{
    font-style: italic;
    color: rgba(0, 0, 0, 0.6);
}
    /* ACCOUNT */
#date{
    text-align: center;
}
tr.transaction{
    border: 1px solid purple;
    background-color: lightgoldenrodyellow;
}
#table-header > th{
    text-align: center;
}
tr.transaction > td{
    padding: 5px;
}
#transaction-category{}
#transaction-subcategory{
    font-style: italic;
    color: rgba(0, 0, 0, 0.8);
}
#transaction-name{
    font-weight: bold;
}
#transaction-description{
    font-style: italic;
    color: rgba(0, 0, 0, 0.6);
}
#transaction-amount{
    text-align: end;
    font-weight: bold;
}
.income{
    color: green;
}
.expense{
    color: red;
}
#tr-acc-link{
    color: purple;
}
/* CATEGORIES */
#cat-list{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
}
#category{
    margin: 5px;
    padding: 5px;
    border: 2px solid purple;
    border-radius: 5px;
    background-color: lightgoldenrodyellow;
    /* background-color: rgba(177, 67, 177, 0.2); */
    width: 150px;
    text-align: center;
}

/* FORMS */
.site-with-form-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form > table{
    margin-bottom: 5px;
}
span.field{
    margin-left: 5px;
}
.form-button{
    margin-top: 5px;
}
.mam-niemam{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* OTHER */
p.buttons{
    margin: 10px 0px;
}
p.buttons-close{
    margin: 7px 0px;
}
/* a.button {
    background-color: whitesmoke;
    color: black;
    padding: 2px 6px;
    border: 2px solid;
    border-color: grey black black grey; 
    text-decoration: none;
    
} */
a.button {
    background-color: rgba(163, 31, 163, 0.8);
    color: white;
    /* opacity: 0.8; */
    padding: 2px 8px;
    border: 2px solid;
    border-radius: 10px;
    border-color: grey black black grey; 
    text-decoration: none;
}
.style-button{
    background-color: rgba(163, 31, 163, 0.8);
    color: white;
    /* opacity: 0.8; */
    padding: 2px 8px;
    border: 2px solid;
    border-radius: 10px;
    border-color: grey black black grey; 
    text-decoration: none;
}
.purple{
    color: purple;
}
.purple:hover{
    color: purple;
}
.center{
    text-align: center;
}
.bold{
    font-weight: bold;
}

/* FOOTER */
footer{
    height: 30px;
    background-color: purple;
    justify-content: space-between;
    padding-left: 4vw;
    padding-right: 4vw;
}