/* BODY */
body{
    background-color: white;
    color: black;
}
/* NAV */
a.nav-link{
    color: white;
    font-size: 20px;
}
a.nav-link:hover{
    color: white;
    background-color: rgb(176, 0, 176);
}
ul.nav{
    align-items: center;
}
nav.nav{
    height: 60px;
    background-color: purple;
    justify-content: space-between;
    padding-left: 4vw;
    padding-right: 4vw;
}
#logo-link{
    padding: 0;
}
#app-logo{
    width: 250px;
}

/* CONTENT */
#site-content{
    min-height: calc(100vh - 60px - 8vh - 30px); 
    /* 100vh - nav height - margins - footer height */
    margin-top: 4vh;
    margin-bottom: 4vh;
    margin-left: 4vw;
    margin-right: 4vw;
    border: 3px solid purple;
    border-radius: 10px;
    background-color: whitesmoke;
}
div.title{
    padding-top: 5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
div.title h1{
    color: purple;
    font-size: 40px;
    font-weight: bold;
}
div.content{
    padding-left: 1vw;
    padding-right: 1vw;
}
div.tiles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
    /* ACCOUNT LIST */
div.account{
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 5px;
    border: 2px solid purple;
    border-radius: 5px;
    background-color: lightgoldenrodyellow;
    min-width: 150px;
}
div.account:nth-child(even){
    background-color: lightsalmon;
}
a.account-link{
    min-width: 150px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
}
a.account-link > span.name{
    font-weight: bold;
    font-size: 15px;
    color: purple;
}
a.account-link > span.account-description{
    font-style: italic;
    color: rgba(0, 0, 0, 0.6);
}
    /* ACCOUNT */
tr.transaction > td{
    padding: 5px;
}
tr.income{
    background-color: lightgreen;
}
tr.expense{
    background-color: lightcoral;
}

/* FORMS */
.site-with-form-content{
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
span.form-field > input{
    color: green;
}
.form-button{
    margin-top: 5px;
}
.mam-niemam{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* FOOTER */
footer{
    height: 30px;
    background-color: purple;
    justify-content: space-between;
    padding-left: 4vw;
    padding-right: 4vw;
}