{% extends 'application/base.html' %}

{% block title %}{{ account }}{% endblock %}

{% block content %}
{% comment %} Formularz Transakcji {% endcomment %}

{% if option == "add" %}
<div class="title">
    <h1>Dodaj transakcję</h1>
</div>
<div class="content">
    <form method="POST">
        {% csrf_token %}
        <table>
            {% for f in form %}
                <tr>
                    <td><label>{{f.label}}</label></td>
                    <td><span class="field">
                        {% if f.name == "id_category" %}
                        <select name="id_category" required id="id_category" onchange="subcatDisplay_AfterClick()">
                            {% for value, text in form.fields.id_category.choices %}
                                <option value="{{value}}">{{ text }}</option>
                            {% endfor %}
                        </select>
                        {% elif f.name == "id_subcategory" %}
                        <select name="id_subcategory" id="id_subcategory">
                            <option value="">---------</option>
                            {% for value, text in form.fields.id_subcategory.choices %}
                                {% for subcategory in subcategories %}
                                    {% if subcategory.id == value %}
                                        <option class="{{subcategory.id_category.id}} subcategory-element" value="{{value}}">{{text}}</option>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </select>
                        {% else %}
                            {{f}}
                        {% endif %}
                    </span></td>
                </tr>
            {% endfor %}
            <tr>
                <td><label>Date:</label></td>
                <td><span class="field"><input type="date" name="date", value="{{ today }}"></span></td>
            </tr>
        </table>
        <div class="center">
            <button class="button" type="submit">Dodaj</button> 
            {% if accountless == "1" %}
            <button type="button" class="button"><a class="inbutton" href="{% url 'login' %}">Anuluj</a></button>
            {% else %}
            <button type="button" class="button"><a class="inbutton" href="{% url 'account' pk=account.id %}">Anuluj</a></button>
            {% endif %}
        </div>
    </form>
</div>

{% elif option == "edit" %}
<div class="title">
    <h1>Edytuj transakcję</h1>
</div>
<div class="content">
    <form method="POST">
        {% csrf_token %}
        <table>
            {% for f in form %}
                <tr>
                    <td><label>{{f.label}}</label></td>
                    <td><span class="field">{{f}}</span></td>
                </tr>
            {% endfor %}
            <tr>
                <td><label>Date:</label></td>
                <td><span class="field"><input type="date" name="date" value="{{ transaction.transaction_date|date:'Y-m-d' }}"></span></td>
            </tr>
        </table>
        <div class="center">
            <button class="form-button" type="submit">Zapisz</button> 
            {% if accountless == "1" %}
            <button type="button" class="button"><a class="inbutton" href="{% url 'login' %}">Anuluj</a></button>
            {% else %}
            <button type="button" class="button"><a class="inbutton" href="{% url 'account' pk=account.id %}">Anuluj</a></button>
            {% endif %}
        </div>
    </form>
</div>
{% endif %}

{% endblock %}