{% extends 'application/base.html' %}

{% block title %}{{ tr.name }}{% endblock %}

{% block content %}
{% comment %} Wyświetlenie Transakcji {% endcomment %}

<div class="title">
    <h1>{{ tr.name }}</h1>
</div>
<div class="content">
    <p>Data: {{ tr.transaction_date }}</p>
    <p>Kwota: {{ tr.amount }}</p>
    <p>Opis: {{ tr.description }}</p>
    <p>Podkategoria: {{ tr.id_subcategory }}</p>
    <p>Cykliczna: {{ tr.is_periodic }}</p>
    <span class="name"><a href="{% url 'editTransaction' tr.id %}">Edytuj</a></span><br>
    <span class="name"><a href="{% url 'delTransaction' tr.id %}">Usuń</a></span><br>
    <span class="name"><a href="{% url 'account' tr.id_account.id %}">Powrót do konta</a></span>
    <br><br>
</div>

{% endblock  %} 