{% extends 'application/base.html' %}

{% block title %}{{ tr.name }}{% endblock %}

{% block content %}
{% comment %} Wyświetlenie Transakcji {% endcomment %}

<div class="title">
    <h1>{{ tr.name }}</h1>
    <h3>{{ tr.id_category }}</h3>
    {% if tr.id_category.scope == "EXPENSE" and tr.converted_amount > 0 or tr.id_category.scope == "INCOME" and tr.converted_amount < 0 %}
    <h3>Zwrot Pieniędzy</h3>
    {% else %}
        {% if tr.id_category.scope == "EXPENSE" %}
        <h3>Wydatek</h3>
        {% else %}
        <h3>Przychód</h3>
        {% endif %}
    {% endif %}
    {% if tr.id_subcategory %}
    <h5>{{ tr.id_subcategory }}</h5>
    {% endif %}
</div>
<div class="content center">
    {% if tr.converted_amount >= 0 %}
        <h2 class="income">{{ tr.converted_amount }} {{ tr.currency.sign }}</h2>
    {% else %}
        <h2 class="expense">{{ tr.converted_amount }} {{ tr.currency.sign }}</h2>
    {% endif %}
    <p>Data: {{ tr.transaction_date }}</p>
    {% if tr.description is not None %}
        <p>Opis: {{ tr.description }}</p>
    {% endif %}
    {% comment %} {% if tr.is_periodic == True %}
        <p>Cykliczna: <input type="checkbox" checked onclick="return false;"></p>
    {% else %}
        <p>Cykliczna: <input type="checkbox" onclick="return false;"></p>
    {% endif %} {% endcomment %}
    Powtarzanie: {{ tr.repeat }}
    <p class="buttons"><a class="button" href="{% url 'editTransaction' tr.id accountless %}">Edytuj</a>
    <a class="button" href="{% url 'duplicateTransaction' tr.id accountless %}">Duplikuj</a>
    {% if tr.transaction_date > today %}<a class="button" href="{% url 'showTransaction' tr.id accountless %}?action=move">Dodaj dzisiaj</a>{% endif %}
    {% if tr.repeat is not None %}<a class="button" href="{% url 'showTransaction' tr.id accountless %}?action=skip">Pomiń</a>{% endif %}
    <a class="button" href="{% url 'delTransaction' tr.id accountless %}" onclick=
        "return confirm('Czy napewno chcesz usunąć tę transakcję?')">Usuń</a></p>
    {% if accountless == '0' %}
        <p class="buttons"><a class="button" href="{% url 'account' tr.id_account.id %}">Powrót do konta</a></p>
    {% else %}
        <p class="buttons"><a class="button" href="{% url 'login' %}">Powrót</a></p>
    {% endif %}
    <br>
</div>

{% endblock  %} 