{% extends 'application/base.html' %}

{% block title %}{{ account }}{% endblock %}

{% block content %}
{% comment %} Strona z informacjami o danym koncie {% endcomment %}

    <div class="title">
        <h1>{{ account }}</h1>
        <h1>{{ balance }} {{ account.currency.sign }}</h1>
        <h4>{{ account.description }}</h4>
    </div>
    
    <div class="content">
        <p class="buttons">
            <a class="button" href="{% url 'add' account.id 'expense' %}">Nowy Wydatek</a>
            <a class="button" href="{% url 'add' account.id 'income' %}">Nowy Przychód</a>
        </p>
        <p class="buttons">
            <a class="button" href="{% url 'editAccount' account.id %}">Edytuj informacje o koncie</a>
        </p>
        <p class="buttons">
            <a class="button" href="{% url 'invite' account.id %}">Zaproś użytkownika do współdzielenia</a>
        </p>
        <p class="buttons">
            <a class="button" href="{% url 'profiles' %}">Lista użytkowników</a>
        </p>
        {% for usr in users %}
            <p>Wspólnik: {{ usr.id_user }}</p>
        {% endfor %}

        <table>
            {% for date, transactions, value in future %}
                <tr id="date">
                    <td colspan="7">{{ date }}</td>
                    <td>{{ value }} {{ account.currency.sign }}</td>
                </tr>
                {% for tr in transactions %}
                    <tr class="transaction">                        
                    <td id="transaction-category">{{ tr.id_category }}</td>
                    {% if tr.id_subcategory %}
                        <td id="transaction-subcategory">{{ tr.id_subcategory }}</td>
                    {% else %}
                        <td id="transaction-subcategory"></td>
                    {% endif %}
                    {% if tr.description %}
                        <td id="transaction-description">{{ tr.description }}</td>
                    {% else %}
                        <td id="transaction-description"></td>
                    {% endif %}
                    <td id="transaction-subcategory">{{ tr.subcategory }}</td>
                    {% if tr.converted_amount >= 0 %}
                        <td id="transaction-amount" class="income">{{ tr.amount }} {{ tr.currency.sign }}</td>
                    {% else %}
                        <td id="transaction-amount" class="expense">{{ tr.amount }} {{ tr.currency.sign }}</td>
                    {% endif %}
                    <td><a class="purple" href="{% url 'showTransaction' tr.id 0 %}">Szczegóły</a></td>
                    <td><a class="purple" href="{% url 'duplicateTransaction' tr.id 0 %}">Duplikuj</a></td>
                    <td><span class="name"><a class="purple" href="{% url 'delTransaction' tr.id 0 %}" onclick=
                        "return confirm('Czy napewno chcesz usunąć tę transakcję?')">Usuń</a></span></td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
    
        <p>Zaplanowanych transakcji w tym miesiącu: {{ count }}</p>

        <table>
            <!-- {% if account.is_shared %}
                <div>
                    <span>To konto jest ustawione jako współdzielone.<span>
                    <br/>
                    <span>Aby zaprosić innego użytkownika do współdzielenia konta, przekaż mu ten URL:<span>
                    <br/>
                    <code id="url">{{ request.build_absolute_uri }}/join</code>
                </div>
            {% endif %} -->
            {% for date, transactions, value in daily %}
                <tr id="date">
                    <td colspan="7">{{ date }}</td>
                    <td>{{ value }} {{ account.currency.sign }}</td>
                </tr>
                {% for tr in transactions %}
                    <tr class="transaction">                        
                    <td id="transaction-category">{{ tr.id_category }}</td>
                    {% if tr.id_subcategory %}
                        <td id="transaction-subcategory">{{ tr.id_subcategory }}</td>
                    {% else %}
                        <td id="transaction-subcategory"></td>
                    {% endif %}
                    {% if tr.description %}
                        <td id="transaction-description">{{ tr.description }}</td>
                    {% else %}
                        <td id="transaction-description"></td>
                    {% endif %}
                    <td id="transaction-subcategory">{{ tr.subcategory }}</td>
                    {% if tr.converted_amount >= 0 %}
                        <td id="transaction-amount" class="income">{{ tr.amount }} {{ tr.currency.sign }}</td>
                    {% else %}
                        <td id="transaction-amount" class="expense">{{ tr.amount }} {{ tr.currency.sign }}</td>
                    {% endif %}
                    <td><a class="purple" href="{% url 'showTransaction' tr.id 0 %}">Szczegóły</a></td>
                    <td><a class="purple" href="{% url 'duplicateTransaction' tr.id 0 %}">Duplikuj</a></td>
                    <td><span class="name"><a class="purple" href="{% url 'delTransaction' tr.id 0 %}" onclick=
                        "return confirm('Czy napewno chcesz usunąć tę transakcję?')">Usuń</a></span></td>
                    </tr>
                {% endfor %}
            {% empty %}
            <h3>Wygląda na to, że nie dodałeś jeszcze żadnych transakcji na tym koncie</h3>
            {% endfor %}
        </table>
    </div>
{% endblock %}