{% extends 'application/base.html' %}

{% block content %}

{% if option == "add" %}
<div class="title">
    <h1>Utwórz konto</h1>
</div>
<div class="content">
    <form method="POST">
        {% csrf_token %}
        <table>
        {% for field in form %}
        <tr>
            <td>{{field.label}}</td>
            <td><span class="field">{{field}}</span></td>
        </tr>
        {% endfor %}
        </table>
        <div>
            <button class="button" type="submit">Utwórz</button>
            <button type="button" class="button"><a class="inbutton" href="{% url 'all-accounts' %}">Anuluj</a></button>
        </div>
        
    </form>
</div>

{% elif option == "edit" %}
<div class="title">
    <h1>Edytuj konto</h1>
</div>
<div class="content">
    <form method="POST">
        {% csrf_token %}
        <table>
            {% for field in form %}
            <tr>
                <td>{{field.label}}</td>
                <td><span class="field">{{field}}</span></td>
            </tr>
            {% endfor %}
            </table>
        <div>
            <button class="button" type="submit">Zapisz</button>
            <button type="button" class="button"><a class="inbutton" href="{% url 'account' account.id %}">Anuluj</a></button>
        </div>
        <a class="button" href="{% url 'delAccount' account.id %}" onclick=
        "return confirm('Czy napewno chcesz usunąć konto {{account}}?')">Usuń to konto</a>
    </form>
</div>

{% endif %}

{% endblock %}