{% extends 'application/base.html' %}

{% block content %}
{% load static %}

<div class="title">
    <h1>Zaproś użytkownika do współdzielenia konta</h1>
</div>
<div class="content-pc site-with-form-content">
    <form method="POST">
        {% csrf_token %}
        <table>
            {% for field in form %}
            <tr>
                <td><label class="bold">{{field.label}}</label></td>

                <td><span class="field">{{field}}</span></td>
                
            </tr>
            {% endfor %}
            </table>
        <div>
            <button class="button" type="submit">Zaproś użytkownika</button>
            <button type="button" class="button"><a class="inbutton" href="{% url 'account' account.id %}">Anuluj</a></button>
        </div>
        
    </form>
</div>


{% endblock %}