{% extends 'application/base.html' %}

{% block title %}Dołącz do konta{% endblock %}
{% block content %}
    <div class="title">
        <h1>Dołączanie do konta</h1>
    </div>
    <div class="content-pc site-with-form-content">
        <h5>Konto do którego chcesz dołączyć:</h5>
        <p>
            <span class="bold">{{ invitation.id_account.name }}</span>
            </br>
            {% if invitation.id_account.description is not none %}
                <span class="account-description">{{ invitation.id_account.description }}</span>
                </br>
            {% endif %}           
            <span>Właściciel: {{ invitation.id_account.owner }}</span>
        </p>
        <span>Czy napewno chcesz dołączyć do konta?</span>
        <div id="yes-no">
            <form method="post">
                {% csrf_token %}
                <p class="buttons-close">
                    <button class="button" type="submit">Tak</button>
                    <button class="button" type="button"><a class="inbutton" href="{% url 'home' %}">Nie</a></button>
                </p>
            </form>
        </div>
    </div>
{% endblock  %} 