{% extends 'application/base.html' %}

{% block title %}{{ account }}{% endblock %}
{%load static%}

{% block content %}
{% comment %} Strona z informacjami o danym koncie {% endcomment %}

    <div class="title" style="margin-bottom: 30px;">
        <h1 style="width: 88%;text-align: left;">{{ account }}&emsp;
        <span class="right-text">{{ balance }} {{ account.currency.sign }}</span></h1>
        {% if account.description %}
            <h4>{{ account.description }}</h4>
        {% endif %}
    </div>
    
    <div class="content-pc">
        <p class="buttons">
            <a href="{% url 'add' account.id 'income' %}"><img id="plus-icon" src="{% static 'images/icons/plus.png' %}"/></a>
            <a href="{% url 'add' account.id 'transfer' %}"><img id="transfer-icon" src="{% static 'images/icons/arrows.png' %}"/></a>
            <a  href="{% url 'add' account.id 'expense' %}"><img id="minus-icon" src="{% static 'images/icons/minus.png' %}"/></a>
        </p>
        
        <p class="buttons">
            {% if fullAccess %}
            <a class="edit" href="{% url 'editAccount' account.id %}" title="Edytuj informacje o koncie"></a>
            {% comment %} {% else %}
            <a class="button">Nie możesz edytować konta</a> {% endcomment %}
            {% endif %}
            {% if fullAccess %}
            <a class="add_user" href="{% url 'invite' account.id %}" title="Zaproś do współdzielenia"></a>
            {% comment %} {% else %}
            <a class="button">Nie możesz zapraszać</a> {% endcomment %}
            {% endif %}
            <a class="user-list" href="{% url 'users' account.id %}" title="Lista użytkowników"></a>
            {% comment %} <a class="button" href="{% url 'profiles' %}">Wyszukiwarka?</a> {% endcomment %}
        </p>

        <div>
        </div>

        <div id="myDIV" style="display:none">
        <table class="table-in-account">
            {% for date, transactions, value in future %}
                <tr class="date">
                    <td colspan="4">{{ date }}</td>
                    <td id="transaction-amount"{% if value > 0 %}class='income' {% elif value == 0 %}class='neutral' {% else %}class='expense' {% endif %}>{{ value }} {{ account.currency.sign }}</td>
                </tr>
                {% for tr in transactions %}
                    <tr class="transaction" 
                        style="{% if not forloop.last %} border-bottom:none;{% endif %}
                        {% if forloop.last %} border-bottom-left-radius:10px;border-bottom-right-radius:10px;
                        {% endif %}
                        {% if forloop.first %} border-top-left-radius:10px;border-top-right-radius:10px;
                        {% endif %}">                        
                        <td class="transaction-category bold">
                            {% if tr.account_from is not None %}
                            Przelew
                            {% else %}
                            {{ tr.id_category }}
                            {% endif %}
                            {% if tr.id_subcategory %}
                            <span id="transaction-subcategory">({{ tr.id_subcategory }})</span>
                            {% else %}
                            <span id="transaction-subcategory"></span>
                            {% endif %}
                        </td>
                        <!-- <td id="do-not-display"></td> -->
                        {% if tr.account_from is not None %}
                            <td id="transaction-amount" class="neutral" style="font-weight:600;">{{ tr.amount }} {{ tr.currency.sign }}</td>
                        {% else %}
                            {% if tr.amount >= 0 %}
                                <td id="transaction-amount" class="income" style="font-weight:500;">{{ tr.amount }} {{ tr.currency.sign }}</td>
                            {% else %}
                                <td id="transaction-amount" class="expense" style="font-weight:500;">{{ tr.amount }} {{ tr.currency.sign }}</td>
                            {% endif %}
                        {% endif %}
                        <td><a class="purple" href="{% url 'showTransaction' tr.id 0 %}">Szczegóły</a></td>
                        <td><a class="copy" href="{% url 'duplicateTransaction' tr.id 0 %}" title="Duplikuj"></a></td>

                        {% if fullAccess %}
                        <td><a class="delete" href="{% url 'delTransaction' tr.id 0 %}" title="Usuń" onclick=
                            "return confirm('Czy napewno chcesz usunąć tę transakcję?')"></a></td>
                        {% else %}
                        <td></td>
                        {% endif %}

                        {% if tr.account_from is not None %}
                        <td id="transaction-description">{{ tr.account_from }} &#8594; {{ tr.account_to }}</td>
                        {% endif %}
                        {% if tr.description %}
                        <td id="transaction-description">{{ tr.description }}</td>
                        {% else %}
                        <td id="transaction-description"></td>
                        {% endif %}
                        </tr>
                {% endfor %}
            {% endfor %}
        </table>
        </div>
        
        <br>
        {% if count > 0 %}

        <button onclick="myFunction()" class="clickable">
        Zaplanowanych transakcji w miesiącu: {{ count }} (rozwiń)
        </button>
        <br>
        {% endif %}

        <script>
            function myFunction() {
                var x = document.getElementById("myDIV");
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
                window.scrollTo(0, x.offsetHeight);
            }
        </script>

        <div id="selectors">
            <select class="form-select" id="category-selector" multiple="multiple" >
                <option value="all">Wszystkie kategorie</option>
                {% for c in categories %}
                    <option value="{{ c.name }}">{{ c.name }}</option>
                {% endfor %}
            </select>

            Wyświetl na stronie:
            <select class="form-select" id="total_transactions" onchange="changeTotalTransactions('{{ request.get_full_path }}')">
                <option value="20" {% if request.user.profile.total_transactions == 20 %}selected{% endif %}>20</option>
                <option value="50" {% if request.user.profile.total_transactions == 50 %}selected{% endif %}>50</option>
                <option value="100" {% if request.user.profile.total_transactions == 100 %}selected{% endif %}>100</option>
                <option value="200" {% if request.user.profile.total_transactions == 200 %}selected{% endif %}>200</option>
            </select>

            {% if page_obj.paginator.num_pages > 1 %}
            <nav aria-label="...">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                    <a class="page-link" href="?page=1" tabindex="-1">&laquo;</a></li>
                    <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
                    {% else %}
                    <li class="page-item disabled">
                    <a class="page-link" href="" tabindex="-1">&laquo;</a></li>
                    <li class="page-item disabled">
                    <a class="page-link" href="">&lt;</a></li>
                    {% endif %}

                    <li class="page-item active">
                    <a class="page-link" href="">{{ page_obj.number }}/{{ page_obj.paginator.num_pages }}</a></li>

                    {% if page_obj.has_next %}
                    <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
                    <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a></li> 
                    {% else %}
                    <li class="page-item disabled">
                    <a class="page-link" href="">&gt;</a></li> 
                    <li class="page-item disabled">
                    <a class="page-link" href="" tabindex="-1">&raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>

        <table class="table-in-account">
            {% for date, transactions, value in daily %}
                <tr class="date">
                    <td colspan="4">{{ date }}</td>
                    <td id="transaction-amount"{% if value > 0 %}class='income' {% elif value == 0 %}class='neutral' {% else %}class='expense' {% endif %}>{{ value }} {{ account.currency.sign }}</td>
                </tr>
                {% for tr in transactions %}
                    <tr class="transaction"
                    data="{{ tr.id_category }}" 
                        style="{% if not forloop.last %} border-bottom:none;{% endif %}
                        {% if forloop.last %} border-bottom-left-radius:10px;border-bottom-right-radius:10px;
                        {% endif %}
                        {% if forloop.first %} border-top-left-radius:10px;border-top-right-radius:10px;
                        {% endif %}">                        
                        <td class="transaction-category bold">
                            {% if tr.account_from is not None %}
                            Przelew
                            {% else %}
                            
                            
                            <!-- <a onclick="filterBy('{{ tr.id_category }}')"> <i>Filtruj <span> </span> <span> </span> </i> </a> -->
                            {{ tr.id_category }}

                            {% endif %}
                            {% if tr.id_subcategory %}
                            <span id="transaction-subcategory">({{ tr.id_subcategory }})</span>
                            {% else %}
                            <span id="transaction-subcategory"></span>
                            {% endif %}
                        </td>

                        </td>
                        <!-- <td id="do-not-display"></td> -->
                        {% if tr.account_from is not None %}
                            <td id="transaction-amount" class="neutral" style="font-weight:600;">{{ tr.amount }} {{ tr.currency.sign }}</td>
                        {% else %}
                            {% if tr.amount >= 0 %}
                                <td id="transaction-amount" class="income" style="font-weight:500;">{{ tr.amount }} {{ tr.currency.sign }}</td>
                            {% else %}
                                <td id="transaction-amount" class="expense" style="font-weight:500;">{{ tr.amount }} {{ tr.currency.sign }}</td>
                            {% endif %}
                        {% endif %}
                        <td><a class="purple" href="{% url 'showTransaction' tr.id 0 %}">Szczegóły</a></td>
                        <td><a class="copy" href="{% url 'duplicateTransaction' tr.id 0 %}" title="Duplikuj"></a></td>

                        {% if fullAccess %}
                        <td><a class="delete" href="{% url 'delTransaction' tr.id 0 %}" title="Usuń" onclick=
                            "return confirm('Czy napewno chcesz usunąć tę transakcję?')"></a></td>
                        {% else %}
                        <td></td>
                        {% endif %}
                    
                        {% if tr.account_from is not None %}
                        <td id="transaction-description">{{ tr.account_from }} &#8594; {{ tr.account_to }}</td>
                        {% endif %}
                        {% if tr.description %}
                        <td id="transaction-description">{{ tr.description }}</td>
                        {% else %}
                        <td id="transaction-description"></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% empty %}
            <h3>Wygląda na to, że nie dodałeś jeszcze żadnych transakcji na tym koncie</h3>
            {% endfor %}
        </table>

        <br>
        {% if page_obj.paginator.num_pages > 1 %}
        </br>
        </br>
        <nav id="pagination" aria-label="...">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item">
                <a class="page-link" href="?page=1" tabindex="-1">&laquo;</a></li>
                <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
                {% else %}
                <li class="page-item disabled">
                <a class="page-link" href="" tabindex="-1">&laquo;</a></li>
                <li class="page-item disabled">
                <a class="page-link" href="">&lt;</a></li>
                {% endif %}

                <li class="page-item active">
                <a class="page-link" href="">{{ page_obj.number }}/{{ page_obj.paginator.num_pages }}</a></li>

                {% if page_obj.has_next %}
                <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
                <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a></li> 
                {% else %}
                <li class="page-item disabled">
                <a class="page-link" href="">&gt;</a></li> 
                <li class="page-item disabled">
                <a class="page-link" href="" tabindex="-1">&raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
        
    </div>
{% endblock %}