{% extends 'application/base.html' %}

{% block title %}{{ account }}{% endblock %}

{% block content %}
{% comment %} Strona z informacjami o danym koncie {% endcomment %}

    <div class="title">
        <h1>{{ account }}</h1>
        <h1>{{ account.calculate_balance }} {{ account.currency.sign }}</h1>
    </div>

    <a href="{% url 'addExpense' account.id %}">Nowy Wydatek</a>
    <a href="{% url 'addIncome' account.id %}">Nowy Przychód</a><br>
    <a href="{% url 'editAccount' account.id %}">Edytuj informacje o koncie</a><br>
    <a href="{% url 'delAccount' account.id %}" onclick=
    "return confirm('Czy napewno chcesz usunąć konto {{account}}?')">Usuń to konto</a><br>
    <a href="{% url 'all-accounts' %}">Wszystkie Konta</a>
    
    <div class="content">
        <table>
            {% if account.transactions %}
            {% else %}
                <tr><h3>Wygląda na to, że nie dodałeś jeszcze żadnych transakcji na tym koncie</h3></tr>
            {% endif %}
            {% if account.is_shared %}
                <div>
                    <span>To konto jest ustawione jako współdzielone.<span>
                    <br/>
                    <span>Aby zaprosić innego użytkownika do współdzielenia konta, przekaż mu ten URL:<span>
                    <br/>
                    <code class="url">{{ request.build_absolute_uri }}/join</code>
                </div>
            {% endif %}
            {% for date in dates %}
                <tr class="date">
                    <td colspan="3">{{ date }}</td>
                </tr>
                {% for transaction in account.transactions %}
                    {% if transaction.transaction_date == date %}
                        {% if transaction.converted_amount > 0 %}
                            <tr class="transaction income">
                        {% else %}
                            <tr class="transaction expense">
                        {% endif %}
                        <td>{{ transaction.id_category }}</td>
                        {% if transaction.name is not None %}
                        <td>({{ transaction.name }})</td>
                        {% endif %}
                        {% if transaction.description is not None %}
                            <td>{{ transaction.description }}</td>
                        {% endif %}
                        {% if transaction.subcategory is not None %}
                            <td>{{ transaction.subcategory }}</td>
                        {% endif %}
                        <td>{{ transaction.converted_amount }} {{ transaction.currency.sign }}</td>
                        <td><a href="{% url 'showTransaction' transaction.id %}">Szczegóły</a></td>
                        <td><span class="name"><a href="{% url 'delTransaction' transaction.id %}" onclick=
                            "return confirm('Czy napewno chcesz usunąć tę transakcję?')">Usuń</a></span></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </table>
    </div>
{% endblock %}